doctype
html
	head
		!= partial("_partials/head")
	body.landing-page

		//- .harp-env-notif Harp is in under #{ environment }

		!= partial("_partials/main-nav")

		!= yield

		script(src="/assets/scripts/headroom.min.js")
		script(src="/assets/scripts/main.js")