.card.card-landing-page
	.card-body
		.logo Logo here
		.shoutout {Hello World}
		.whoiam
			p I'm 
				strong Nanang
			p I'm a 
				strong Web Designer
			span.text-muted and yes
			p I'm a 
				strong Human

			.recent-job Recently I'm a part of web developer team at
			| mataharilabs
