meta(charset='utf8')
title= title
meta(name="viewport" content="width=device-width")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="description" content="#{ description }")
link(rel="stylesheet" href="#{baseUrl}/assets/styles/main.css")
//- link(rel="stylesheet" href="#{baseUrl}/_bower_components/spectre.css/dist/spectre.css")
