doctype
html
	head
		!= partial("../_partials/head")
	body.blog-post


		!= partial("../_partials/main-nav")

		.blog-post-wrapper
			!= yield

		script(src="/assets/scripts/headroom.min.js")
		script(src="/assets/scripts/main.js")