// Core variables
@import '_bower_components/spectre.css/src/variables.less';

// Reset and dependencies
@import '_bower_components/spectre.css/src/normalize.less';
@import '_bower_components/spectre.css/src/base.less';

// Core classes
@import '_bower_components/spectre.css/src/typography.less';
@import '_bower_components/spectre.css/src/buttons.less';

@import '_bower_components/spectre.css/src/layout.less';
@import '_bower_components/spectre.css/src/cards.less';
.card {
  box-shadow: @card-box-shadow;
}


// spectre.les
@import (reference) '_bower_components/spectre.css/spectre.less';

// Overwrites variable
@import '_variable';

// google fonts
@import (css) '_open-sans.css';
@import (css) '_merriweather.css';
@import (css) '_droid-serif.css';
@import (css) '_Source-sans-pro.css';

// global styles
// ----------------------------------
body{
  // font-family: "Source Sans Pro", @body-font-family;
  background: #f9f9f9;
  color: @body-font-color;

  html, & {
    height: 100%;
  }
}

.logo-path {
  fill:none;
  stroke:#F49E39;
  stroke-miterlimit:10;
  stroke-width: 2px;
}

// main nav styles
// ----------------------------------
.main-nav {
  .clearfix();
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;

  .brand {
    float: left;
    display: block;
    width: 60px;
    height: 50px;
    padding: 12px 18px;
    .animate-global();

    &:hover,
    &:focus {
      background-color: #f9f9f9;

      .logo-path {
        stroke: none;
        fill: #f6c53c;
      }
    }
  }

  ul {
    display: inline-block;
    list-style: none;
    float: right;
    margin: 0 6px 0 0;

    li {
      display: inline-block;
      margin-top: 0;

      a {
        text-decoration: none;
        color: #777;
        padding: 8px 10px;
        margin-top: 6px;
        display: block;
        .animate-global();

        &:hover,
        &:focus {
          color: @core-link-color;
          background-color: #f9f9f9;
        }
      }
    }
  }

  &.headroom--unpinned {
    transform: translateY(-100%);
  }

  &, &.headroom--top {
    transform: translateY(0);
    .animate-global();
  }

  &.headroom--not-top {
    background-color: rgba(255, 255, 255, 0.94);
    box-shadow: 0 2px 4px rgba(9, 9, 9, 0.08);
  }
}



.harp-env-notif {
	position: fixed;
	background: rebeccapurple;
}


// landing page styles
// ----------------------------------
.landing-page{
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(top right, #fff 50%, #f5f2ed 50%);
    z-index: -1;
    top: 0;

    @media screen and (max-height: 460px) {
      position: fixed;
    }
  }

  .main-nav {
    display: none;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    font-weight: 300;

    @media screen and (max-width: @size-sm) {
      display: block;
    }
  }
}

.landing-page-cards {
  .clearfix();
  max-width: 540px;
  // padding-top: 60px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;

  @media screen and (max-width: @size-sm) {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media screen and (max-height: 550px) {
    position: relative;
    margin-top: 16px;
    transform: none;
  }
}

.landing-page-sidecard {
  width: 130px;
  float: left;
  margin-top: 34px;
  transform: translateX(8px);
  background-image: -webkit-linear-gradient(top right, #f5cd3a 0%, #FB9B45 100%);
  position: absolute;
  left: 0;
  top: 0;
  .animate-global(@prop: left);

  @media screen and (max-width: @size-sm) {
    left: 130px;
  }

  .avatar {
    margin: 27px 0 20px 66px;
  }
}

.sidecard-menu {
  margin: 0 0 14px 0;
  list-style: none;

  li {
    margin-top: 0;
    text-align: right;

    a {
      display: inline-block;
      padding: 6px 8px;
      font-size: 1.6rem;
      color: #fff;
      text-decoration: none;
      .animate-global();

      &:hover,
      &:focus {
        opacity: .7;
        transform: translateX(-1px);
      }
    }
  }
}

.landing-page-maincard {
  margin-left: auto;
  float: left;
  margin-right: auto;
  width: 400px;
  text-align: center;
  position: relative;
  left: 130px;
  .animate-global(@prop: left);

  @media screen and (max-width: @size-sm) {
    width: 100%;
    float: none;
    left: 0;
  }

  .logo {
    margin-top: 38px;

    > img {
      width: 90px;
    }
  }

  .shoutout {
    font-size: 3rem;
    font-weight: 300;
    color: #777;
    margin-bottom: 16px;
  }

  .whoiam {
    font-weight: 300;

    strong {
      font-weight: 500;
      color: #555;
    }

    p {
      margin-bottom: 0.6rem;
       span {
        display: block;
      }
    }
  }

  .recent-job {
    margin-top: 20px;
    color: #999;
    font-size: 1.2rem;

    span {
      display: block;
      font-size: 1.4rem;
      letter-spacing: .7rem;
      color: #777;
      font-weight: 300;
    }
  }
}

.maincard-contact {
  position: relative;
  border-top: 1px solid #f3f3f3;
  margin-top: 26px;
  padding-top: 18px !important;
  background-color: #fcfcfc;

  label {
    display: block;
    width: auto;
    top: -14px;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    background-color: #f5f5f5;
    padding: 2px 16px;
    color: #999;
    position: absolute;
    left: 50%;
    font-size: 1.2rem;
    transform: translateX(-50%);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);

  }

  span {
    display: block;
    font-weight: 300;
    letter-spacing: .1rem;
    color: #999;
    font-size: 1.3rem;
  }
}



// Bloggin section styles
// ----------------------------------

.blog-post {
  background-color: #fafafa;
  padding-top: 50px;
}

.blog-post-wrapper {
  max-width: 754px;
  padding-left: 18px;
  padding-right: 18px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Droid Serif", serif;

  figure {
    margin: 3rem 0 0;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-bottom: 1.6rem;
  }
}

figure {
  text-align: center;
  margin-bottom: 0;

  img {
    max-width: 100%;
  }

  figcaption {
    background: #f9f9f9;
    border: 1px solid #ddd;
    display: inline-block;
    position: relative;
    top: -20px;
    padding: 4px 16px;
    font-size: 1.2rem;
    color: #999;
    border-radius: 32px;

    a {
      color: #999;
      .animate-global();

      &:hover,
      &:focus {
        color: #777;
      }
    }
  }
}